# test dependencies
pytest
mypy
# https://github.com/opencv/opencv-python/issues/291#issuecomment-841816850
opencv-python; sys_platform != 'darwin'
imageio

# documentation dependencies
sphinx
pydata-sphinx-theme
sphinx-autodoc-typehints
sphinx-automodapi
