name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        # FIXME should be include:, but individual entries are not supported yet, so work-around
        config:

        # Use 2016 image for 3.5 as 2019 does not have VC++ 14.0 compiler.
        # https://github.community/t5/GitHub-Actions/Microsoft-Visual-C-14-0-compiler-not-available-on-Windows-2019/m-p/32871 
        - os-image: windows-2016
          os-name: windows
          python-version: '3.5'
          python-arch: '64'
          numpy-version: '1.9'
        - os-image: windows-2016
          os-name: windows
          python-version: '3.6'
          python-arch: '64'
          numpy-version: '1.11'
        - os-image: windows-2016
          os-name: windows
          python-version: '3.7'
          python-arch: '64'
          numpy-version: '1.14'
        - os-image: windows-2016
          os-name: windows
          python-version: '3.8'
          python-arch: '64'
          numpy-version: '1.17'

    runs-on: ${{ matrix.config.os-image }}

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true

    - name: Build wheels (Windows)
      if: matrix.config.os-name == 'windows'
      run: .github/scripts/build-windows.ps1
      shell: pwsh
      env:
        PYTHON_VERSION: ${{ matrix.config.python-version }}
        PYTHON_ARCH: ${{ matrix.config.python-arch }}
        NUMPY_VERSION: ${{ matrix.config.numpy-version }}

    - name: Store wheels as artifacts
      uses: actions/upload-artifact@v1
      with:
        name: wheels
        path: dist

  deploy:
    runs-on: ubuntu-latest

    needs: [build]

    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')

    steps:
    - name: Download wheels from artifact storage
      uses: actions/download-artifact@v1
      with:
        name: wheels
        path: dist

    - name: Setup Python
      uses: actions/setup-python@v1
    
    - name: Upload wheels to PyPI
      run: |
        pip install twine
        twine upload -u __token__ -p ${{ secrets.PYPI_TOKEN }} --skip-existing dist/*
